@import "animations/entrance.scss";
@import "animations/main.scss";

@import "components/contactPage.scss";
@import "components/modal.scss";
@import "components/projectsPage.scss";
@import "components/aboutPage.scss";

body {
  font-family: 'Fira Sans', sans-serif;
  min-height:100%;
  height:100%;
  background-size: cover;
}

h1 {
  text-align: center;
}

.button-style {
  text-align: center;
  &:hover {
    background-color: white;
    color: black;
  }
}

div.tabs {
  // background-color: chartreuse;
  // background-color: hsl(348, 100%, 61%);
  color: white;
}

div.modal-content {
}
