h1 {
  text-align: center;
  // background-color: chartreuse;
}

.button-style {
  text-align: center;
  &:hover {
    background-color: white;
    color: black;
  }
}

.contact-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.modal {
  height: 100vh;
}

.modal-background {
  // background-color: chartreuse;
  background-color: hsl(70°, 100%, 29%);
  opacity: 0.7;
}
.modal-content {
  width: 70%;
  height: 100%;
  padding: 5%;
}

.contact-column {
  display: flex;
  justify-content: center;
}
