@import "animations/entrance.scss";

body {
  font-family: 'Fira Sans', sans-serif;
}

h1 {
  text-align: center;
  // background-color: chartreuse;
}

.button-style {
  text-align: center;
  &:hover {
    background-color: white;
    color: black;
  }
}

.contact-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.modal {
  height: 100vh;
}

.modal-background {
  background-color: chartreuse;
  // background-color: hsl(70°, 100%, 29%);
  opacity: 1;
}
.modal-content {
  width: 80%;
  padding: 5%;
}

.projects-wrapper {
  background-color: chartreuse;
}

.contact-column {
  display: flex;
  justify-content: center;
}

.exit-animation {
  background-color: papayawhip;
}
