<article class="media" id="1">
  <div class="media-content">
    <div class="columns is-mobile">
      <div class="column is-half-mobile">
        <div class="card-image">
          <figure class="image">
            <img src="./assets/martin-small.jpg" alt="Picture of Martin Allgood">
          </figure>
        </div>
      </div>
      <div class="column is-half-mobile">
        <div class="card-content">
          <div class="content">
            <h2 class="title is-3">About Me</h2>
            <p>
              I always enjoyed problem solving, and figuring out the best way to achieve the result that was required. Having had many friend code before me, I always knew it was something that would interest me, and that I would really enjoy, but never had the opportunity to pursue any possible career. This year I finally had the opportunity to give it a try, and the course at GA provided the best platform for me to achieve a basic understanding to help me get going with a new career.
            </p>
            <p>
              Over the course I have thoroughly enjoyed being back in a learning environment and bettering my understanding of code, but also of getting results with the tools that I have. Now that I have finished the course I hope to continue this path of learning by finding a place in a company that will allow me to continue to flourish and I can see how high I can fly!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a class="media-right next-buttons" navigateTo="aboutSocial" id="forward-button">
    <i class="fas fa-chevron-right fa-5x"></i>
  </a>
</article>
