<article class="media" id="1">
  <a class="media-left next-buttons" navigateTo="aboutProfessional">
    <i class="fas fa-chevron-left fa-5x"></i>
  </a>
  <div class="media-content">

    <div class="card">
      <div class="columns is-mobile">
        <div class="column is-3">
          <div class="card-image">
            <figure class="image is-square">
              <img src="http://www.cultofluna.com/includes/images/cover3.jpg" alt="">
            </figure>
          </div>
        </div>
        <div class="column is-9">
          <div class="card-content">
              I enjoy music and regularly go to concerts. Some of my favourite bands that I have also had the pleasure of seeing live are SiKth, Animals as Leaders, Mastodon, and Gojira.
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="columns is-mobile">
        <div class="column is-9">
          <div class="card-content">
              I’ve always been playing games and have competed at semi-professional levels when younger in the Counter Strike 1.6 scene. Today, I am active in multiple groups, attending LAN events and parties.
          </div>
        </div>
        <div class="column is-3">
          <div class="card-image">
            <figure class="image is-square">
              <img src="http://pm1.narvii.com/6785/984c9c346d2e198e3ac593967b720167dc342f72v2_00.jpg" alt="">
            </figure>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="columns is-mobile">
        <div class="column is-3">
          <div class="card-image">
            <figure class="image is-square">
              <img src="https://i.imgur.com/OwICvY9.jpg" alt="">
            </figure>
          </div>
        </div>
        <div class="column is-9">
          <div class="card-content">
            I also enjoy tending my veg patch and maintaining my garden. This summer I am growing potatoes, garlic and spring onions, and previously I have grown carrots, courgettes and aubergines.
          </div>
        </div>
      </div>
    </div>

  </div>
</article>
