<article class="media" id="2">
  <a class="media-left next-buttons" navigateTo="projectOne" id="back-button">
    <i class="fas fa-chevron-left fa-5x"></i>
  </a>
  <div class="media-content">
    <div class="card">
      <div class="card-header">
        <div class="card-header-title is-centered">
          <div class="columns">
            <div class="column is-3">
              <h3 class="title is-2">Socialiser</h3>
            </div>
            <div class="column is-9">
              <p class="subtitle is-5">
                A fully RESTful, single server app using Node.js and Express with EJS utilised for templating the front end.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="card-content">
          <div class="columns is-multiline">
            <div class="column is-6 projects-picture">
              <div class="card-image">
                <figure class="image">
                  <img src="./assets/event-attending.gif" alt="Gif of user attending event">
                </figure>
              </div>
            </div>
            <div class="column is-6">
              <p>
                Project two is an event hosting website built using Node.js & Express to host a Mongoose database and then EJS to render the front end pages. Over the course of one week we were asked to build a fully RESTful app, on a subject of our choice.
              </p>
              <p>
                I really enjoyed my first experience of utilising databases and spent a lot of time ensuring that the information stored inside the models was well organised and allowed for the information to be more easily accesable to the front-end.
              </p>
            </div>
            <div class="column">
              <p>
                With this project I learnt a hard lesson during this project about when it is right to write dynamic code and when you should hard code something. I lost a lot of time at the start of the project implementing some unesscessary functions to populate the new user/venue/event forms. These took up a lot of time and also never got working 100%, leaving traces of the models that I was trying to loop over and take names from.
              </p>
              <p>
                If I was to do this project again I would focus more on achieving MVP as this wasnt achieved until very late in to the project, and alter the models as I went rather then expending a lot of time on them at the start. This would allow me to implement new features easier and allow me to render information on the page as I made it available during the process.
              </p>
            </div>
          </div>
        </div>
      </div>
      <footer class="card-footer">
        <a class="card-footer-item" href="http://socialiser.herokuapp.com" target="_blank">Live Site</a>
        <a class="card-footer-item" href="http://github.com/cerbeh/WDI-Project-Two" target="_blank">Repo</a>
      </footer>
    </div>

  </div>
  <a class="media-right next-buttons" navigateTo="projectThree" id="forward-button">
    <i class="fas fa-chevron-right fa-5x"></i>
  </a>
</article>
