<div class="tabs is-centered is-boxed is-fullwidth is-toggle">
  <ul>
    <li id="projectOne">
      <a class="projects-buttons">
        <span>WDI Project One</span>
      </a>
    </li>
    <li id="projectTwo">
      <a class="projects-buttons">
        <span>WDI Project Two</span>
      </a>
    </li>
    <li id="projectThree">
      <a class="projects-buttons">
        <span>WDI Project Three</span>
      </a>
    </li>
    <li id="projectFour">
      <a class="projects-buttons">
        <span>WDI Project Four</span>
      </a>
    </li>
  </ul>
</div>
<div id="project-content">
  <span>Click one of the tabs above to see my Projects</span>
</div>
