<article class="media">
  <a class="media-left next-buttons" navigateTo="projectTwo" id="back-button">
    <i class="fas fa-chevron-left fa-5x"></i>
  </a>
  <div class="media-content">

    <div class="card">
      <div class="card-header">
        <div class="card-header-title is-centered">
          <div class="columns">
            <div class="column is-3">
              <h3 class="title is-3">Karma Community</h3>
            </div>
            <div class="column is-9">
              <p class="subtitle is-5">
                A single page game app written using a mixture of vanilla JavaScript for the game logic and jQuery for DOM manipulation to transition between game phases.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="card-content">
          <div class="columns is-multiline">
            <div class="column is-6 projects-picture">
              <div class="card-image">
                <figure class="image">
                  <img src="./assets/karmacommunity_demonstration_final.gif" alt="Gif of game being played">
                </figure>
              </div>
            </div>
            <div class="column is-6">
              <p>
                Project one started with the brief to make a browser based game using HTML, CSS and Javascript (with the help of Jquery). Over the course of one week (Friday afternoon - Thursday evening), we had to build and style a game of our own creation. The idea behind the game was to have the tiles falling through the game grid and the user would interact with them depending on which colour it was.
              </p>
              <p>
                I really enjoyed the challenge of creating something from scratch. Creating the game logic first, then putting features on top of it, and the experience of how the game idea evolved through the coding process with what was possible.
              </p>
            </div>
            <div class="column">
              <p>
                At the start, trying to make sure that I wasn't hard coding a lot of the early functions so that they could be called on later on in the build process without having to change too much. It took a while to work out the logic to achieve this and I maybe invested a bit too much time in to it and wasn't able to get to some of the more advanced features that I had originally planned that would help players advance further in to the game once the speeds get a lot faster.
                In addition, at the start
              </p>
              <p>

              </p>
            </div>
          </div>
        </div>
      </div>
      <footer class="card-footer">
        <a class="card-footer-item" href="http://karma-community.herokuapp.com" target="_blank">Live Site</a>
        <a class="card-footer-item" href="https://github.com/stevanpopo/ga-wdi-project-three" target="_blank">Repo</a>
      </footer>
    </div>

  </div>
  <a class="media-right next-buttons" navigateTo="projectFour" id="forward-button">
    <i class="fas fa-chevron-right fa-5x"></i>
  </a>
</article>
