<article class="media">
  <a class="media-left next-buttons" navigateTo="projectTwo" id="back-button">
    <i class="fas fa-chevron-left fa-5x"></i>
  </a>
  <div class="media-content">

    <div class="card">
      <div class="card-header">
        <div class="card-header-title is-centered">
          <div class="columns">
            <div class="column is-3">
              <h3 class="title is-3">Karma Community</h3>
            </div>
            <div class="column is-9">
              <p class="subtitle is-5">
                A Full Stack MEAN app created with <a href="https://github.com/stevanpopo/" target="_blank">Stevan Popovich</a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="card-content">
          <div class="columns is-multiline">
            <div class="column is-6 projects-picture">
              <div class="card-image">
                <figure class="image">
                  <img src="./assets/karmacommunity_demonstration_final.gif" alt="Gif of game being played">
                </figure>
              </div>
            </div>
            <div class="column is-6">
              <p>
                Karma Community was our third project during our time on General Assembly's Web Development Immersive Course (week 7-8). It was a group project built by myself and Steve.
              </p>
              <p>
                The idea was to build a community good-will app that:
                <ul>
                  <li>
                    Allows users to ask favours from members their community.
                  </li>
                  <li>
                    Choose a selected volunteer for a task (with SMS notifications of choice and approval).
                  </li>
                  <li>
                    Gain 'karma coins' based on completed favours.
                  </li>
                </ul>
              </p>
            </div>
            <div class="column">
              <p>
                At the start, trying to make sure that I wasn't hard coding a lot of the early functions so that they could be called on later on in the build process without having to change too much. It took a while to work out the logic to achieve this and I maybe invested a bit too much time in to it and wasn't able to get to some of the more advanced features that I had originally planned that would help players advance further in to the game once the speeds get a lot faster.
                In addition, at the start
              </p>
              <p>

              </p>
            </div>
          </div>
        </div>
      </div>
      <footer class="card-footer">
        <a class="card-footer-item" href="http://karma-community.herokuapp.com" target="_blank">Live Site</a>
        <a class="card-footer-item" href="https://github.com/stevanpopo/ga-wdi-project-three" target="_blank">Repo</a>
      </footer>
    </div>

  </div>
  <a class="media-right next-buttons" navigateTo="projectFour" id="forward-button">
    <i class="fas fa-chevron-right fa-5x"></i>
  </a>
</article>
