<article class="media">
  <a class="media-left next-buttons" navigateTo="projectThree" id="back-button">
    <i class="fas fa-chevron-left fa-5x"></i>
  </a>

  <div class="media-content">

    <div class="card">
      <div class="card-header">
        <div class="card-header-title is-centered">
          <div class="columns">
            <div class="column is-3">
              <h3 class="title is-3">Kendo.io</h3>
            </div>
            <div class="column is-9">
              <p class="subtitle is-5">
                A Full Stack MERN app created with <a href="https://github.com/ChauLongLindaLe/" target="_blank">Linda Lê</a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="card-content">
          <div class="columns is-multiline is-centered">
            <div class="column is-6 projects-picture">
              <div class="card-image">
                <figure class="image">
                  <img src="./assets/kendo-io.gif" alt="demonstration of kendo.io website">
                </figure>
              </div>
            </div>
            <div class="column is-6">
              <p>
                Kendo-io was the final project during my Web Development course at General Assembly. It was a group project built by myself and Linda.
              </p>
              <p>
                The idea was to build an app that could be used to record practice time and frequency of different disciplines of Kendo
              </p>
            </div>
            <div class="column has-text-centered is-4 dependency-icon">
              <h3 class="subtitle is-4">Dependencies:</h3>
            </div>
            <div class="column is-4 dependency-icon">
              <figure class="image">
                <img src="./assets/dependencies-images/mongoose.jpg" alt="">
              </figure>
            </div>
            <div class="column is-4 dependency-icon">
              <figure class="image">
                <img src="./assets/dependencies-images/express.png" alt="">
              </figure>
            </div>
            <div class="column is-4 dependency-icon">
              <figure class="image">
                <img src="./assets/dependencies-images/react.png" alt="">
              </figure>
            </div>
            <div class="column is-3 dependency-icon">
              <figure class="image">
                <img src="./assets/dependencies-images/node.png" alt="">
              </figure>
            </div>
            <div class="column is-4 dependency-icon">
              <figure class="image">
                <img src="./assets/dependencies-images/jwt.png" alt="">
              </figure>
            </div>
            <div class="column is-3 dependency-icon">
              <figure class="image">
                <img src="./assets/dependencies-images/bluebird.png" alt="">
              </figure>
            </div>
            <div class="column is-4 dependency-icon">
              <figure class="image">
                <img src="./assets/dependencies-images/bulma.png" alt="">
              </figure>
            </div>
            <div class="column is-2 dependency-icon">
              <figure class="image">
                <img src="./assets/dependencies-images/lodash.png" alt="">
              </figure>
            </div>
            <div class="column is-3 dependency-icon">
              <figure class="image">
                <img src="./assets/dependencies-images/chartjs.png" alt="">
              </figure>
            </div>
            <div class="column is-3 dependency-icon">
              <figure class="image">
                <img src="./assets/dependencies-images/axios.png" alt="">
              </figure>
            </div>
            <div class="column is-3 dependency-icon">
              <figure class="image">
                <img src="./assets/dependencies-images/moment.jpg" alt="">
              </figure>
            </div>
          </div>
        </div>
      </div>
      <footer class="card-footer">
        <a class="card-footer-item" href="http://kendo-io.herokuapp.com" target="_blank">Live Site</a>
        <a class="card-footer-item" href="https://github.com/cerbeh/WDI-Project-4" target="_blank">Repo</a>
      </footer>
    </div>
  </div>
  <a class="media-right next-buttons" navigateTo="projectOne" id="forward-button">
    <i class="fas fa-chevron-right fa-5x"></i>
  </a>
</article>
