#project-content {
  height: 65vh;
}

.projects-picture {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.next-buttons {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}
