#project-content {
  height: 100vh;
  // background-color: hsl(348, 100%, 61%);
}

.projects-picture {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.next-buttons {
  height: 100vh;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}
